{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}
<div class="container-fluid courses">
    <div class="card shadow mt-3">
        <div class="card-body">
            <h3>Forgot your password?</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border border-bottom mb-4">Password Reset</legend>
                    {{ form| crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info">Request Password Reset</button>
                </div>
            </form>
        </div>

    </div>

    {% endblock content %}