{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid courses">

    <div class="card shadow mt-3">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        <h3>Sign Up Now</h3>
                    </legend>
                    {{ form| crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-info">Sign Up</button>
                </div>
            </form>
            <div class="container">
                <small class="text-muted">Already Have an account? Create One</small>
                <a class="btn btn-outline-success" href="{% url 'login' %}">Login</a>
            </div>
        </div>

    </div>
    <div class="container">
        {% comment %} Or login using google <a href="{% url 'accounts:login' %}">Google</a> {% endcomment %}
    </div>

</div>
{% endblock content %}