{% extends "base.html" %}


{% block content %}
<div class="container-fluid about bg-dark text-light">
    <div class="row text-center  ">
        <h1>About Me</h1>
        <div class="col-md-5 col-xs-12">
            <img class="img-col"
                src="https://img.freepik.com/free-vector/hacker-operating-laptop-cartoon-icon-illustration-technology-icon-concept-isolated-flat-cartoon-style_138676-2387.jpg?size=338&ext=jpg"
                style="width: 300px; height: 300px; border-radius:50%" alt="">
        </div>
        <div class="col-md-6 col-xs-12 p-3">
            <h1>Karan Patil</h1>
            <h3 class="fst-italic text-muted">Programmer, IIT Madras Student</h3>
            <p>A self taught Programmer currently pursuing B.S Degree in Data Science from IIT Madras. Passionate about
                learning new skills.Fond of Computer Science and Technology. Teaching maths for past 2 years.</p>
        </div>
    </div>
    <div class="row text-center bg-light text-dark mt-4 pt-5">
        <h1>About Codepat</h1>
        <div class="col-md-6 col-xs-12 p-3">
            <h1>CodePat</h1>
            <h3 class="fst-italic text-muted">A platform to learn coding.</h3>
            <p>Built with the knowlegde I gained over the years of learning how to code this platform is my contribution
                to teach others how to make awesome products for yourself and for the society.</p>
        </div>
        <div class="col-md-5 col-xs-12">
            <img class="img-col"
                src="https://images.pexels.com/photos/340152/pexels-photo-340152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                style="width: 300px; height: 300px; border-radius:50%" alt="">
        </div>


    </div>
</div>
{% endblock content %}