body {
    padding: 0;

}

.nav-bg {
    background-color: rgb(77, 77, 77);
    float: left;
    width: 100%;

}

.image {
    width: 100%;
    height: auto;
}

.navli {
    color: white;
    font-size: 24px;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
    color: white;
}


.about {
    padding-top: 77px;
}

.courses {
    padding-top: 80px;
}